# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
venv/
# .env

# Images
*.png
*.jpg
*.jpeg

# JSON
*proof.json
*verification_key.json
*public_parameters.json

# VC Code
vscode/

# Witness
*.wtns

# Circuits
*.r1cs