# Byte-compiled / optimized / DLL files
__pycache__/

# Environments
venv/
# .env

# Images
*.png
*.jpg
*.jpeg
*.tif

# JSON
*proof.json
*verification_key.json
*public_parameters.json

# VC Code
vscode/

# Powers of Tau
*.ptau

# Witness
*.wtns

# Circuits
*.r1cs

# JavaScript
*.js

# Web Assembly
*.wasm

# Symbols File
*.sym

# Chaves
*.zkey
